/* Reset básico */
* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page{
  justify-content: flex-start;
  background-color: white;
  display: flex;
  flex-direction: column;
 min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  
}
/* Header y Footer */
header, footer {
  padding: 20px;
  background-color: #3498db;
  color: white;
  text-align: center;
}

/* Contenedor principal */
.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Navegación, contenido y barra lateral */
nav {
  text-decoration: none;
  position: sticky;
  top: 0;
  align-items: center;
  background-color: #2ecc71;
  height: 200px;
  padding: 20px;
  text-decoration: none;
}
.ul{
  text-decoration: none;
}
main {
 padding: 10px;
  background-color: #ecf0f1;

}
aside {
  position: sticky;
  top: 0;

  height: 275px;
  width: 200px;
  background-color: #e74c3c;  
  text-align: center;
  text-decoration: none;
  padding: 20px;
}
/*Media Query para moviles*/
@media screen and (max-width: 786px) {
  .container {
    
    flex-direction: column;

  }
  nav {
    position: top;
    height: 100px;
  }
  aside {
    position: top;
    width: 100%;
  }
  body{
    position:2;
  }
  /**Media Query para tablet**/
  @media screen and (min-width: 786px) and (max-width: 1024px) {
    .container {
      flex-direction: column;
    }
    nav {
      order: -1;
      position: top;
      height: 100px;
    }
    aside {
      order: 0;
      position: top;
      width: 100%;
    }
    body {
      position: 2;
    }

    
  }
  
}