/* Reset básico */
* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: -moz-linear-gradient(top, hsl(71, 65%, 72%) 0%, #bfbd6d 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;

}
.CABECERA {
  width: 10%;
  height: 100px;
  border-radius: 50%;
  border:  10px solid greenyellow;
  border-style: groove double;
  text-align: center;
  background-color: green;
  box-shadow: black;
  color: whitesmoke;
}
.porro{
  padding-right: 10px;
  padding-left: -90%;
  padding-top: 10px;
  text-align: center;
  background-color:green;
  color:white;
}
.header{
  background-color: green;
}


.nav {
  text-decoration: none;
  border-radius: 20%;
  padding: 1rem;
  border-radius: 8px;
}

main {
  display: flex;
  flex: 1;
  border-radius: 20%;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.aside {
  border-radius: 20%;
  background: #f4f4f4;
  padding: 1rem;
  border-left: 1px solid #ccc;
  border-radius: 8px;
}

/* Estructura del layout */
.container {
  border-radius: 20%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  border-radius: 8px;
}
.container a{
  font-size: 1,5em;
  text-decoration: none;
}
.container a:hover{
  color:green;
  font-size: 1,5%;
}
.container nav {
  grid-column: 1;
}


.container main {
  grid-column: 2;
}

.container aside {
  grid-column: 3;
}

footer {
  border:  10px solid black;
  border-style: groove double;
  border-radius: 5%;
  background: yellow;
  color: black;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

/* Indicadores de etiquetas semánticas */
nav {
  text-align: center;
  border:  10px solid black;
  border-style: groove double;
  border-radius: 5%;
}

main {
  border:  10px solid black;
  border-style: groove double;
}
 

aside {
  text-align: center;
  text-decoration: none;
  border:  10px solid black;
  border-style: groove double;
  border-radius: 5%;
}
